.book-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 84%; /* 16:9비율임 */
  height: 84.5%;
  background: #d3deee;
  border-radius: 22px;
  box-shadow: 0px 0px 50px rgba(0, 16, 73, 0.5);
  z-index: 1000;
}

.book-container.visible {
  position: fixed;
  opacity: 1;
  display: block;
  z-index: 1000;
  pointer-events: all;
  transition: opacity 0.5s ease-in-out;
}

.book-page.blur {
  filter: blur(5px) brightness(0.8);
  opacity: 1;
  display: block;
  z-index: 1000;
}

.book-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.book-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.icon-box {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 20%;
  height: 20%;
}

.icon-box > *:not(.home) {
  margin-right: 20px;
}

.icon-box img {
  width: 20px; /* 원하는 아이콘 크기 */
  height: 20px; /* 원하는 아이콘 크기 */
  object-fit: contain; /* 아이콘의 비율을 유지하면서 크기를 맞춤 */
}

.home {
  margin-left: 24px;
  margin-right: 20px;
}

.icons {
  width: 27px;
}

.gray-colline {
  padding: 6px;
  border-right: 2px solid #000f5d26;
}

.book-name {
  cursor: "text";
  background-color: #d3deee;
}
.bookColors {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  right: 0;
  margin-right: 15px;
}
.bookColors > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 8px;
}
.color1 {
  background: linear-gradient(to bottom, #abb0e1 0%, #435190 100%);
}
.color2 {
  background: linear-gradient(to bottom, #4869a8 0%, #1d2b47 100%);
}
.color3 {
  background: linear-gradient(to bottom, #aa7a9e 0%, #734b6c 100%);
}
.color4 {
  background: linear-gradient(to bottom, #c3afe8 0%, #6c6285 100%);
}

.book-name input {
  text-align: center;
  font-size: 15px;
  padding: 0px;
}

.gray-rowline {
  border-bottom: 2px solid #000f5d26;
  margin-left: 20px;
  width: 97%;
  display: flex;
  justify-content: center;
}

.book-content {
  overflow-y: scroll;
  display: flex;
  align-items: ceter;
  justify-content: center;
  margin: 15px;
  width: 97.5%;
  height: 88%;
  border-radius: 20px;

  background-color: #fff;
}

.book-text:focus {
  outline: none;
}
.book-text {
  margin: auto;
  resize: none;
  padding: 20px;
  width: 100%;
  height: 88%;
  resize: "none";
  border-radius: 20px;
  border: 1px solid white;
}

.guideEsc {
  position: fixed;
  width: 25vw;
  height: 5vh;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 17px;
  box-shadow: 0px 4px 10px 0px rgba(0, 6, 60, 0.25);
  backdrop-filter: blur(2px);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #154287;
}

.Esc {
  border-radius: 7px;
  border: 2px solid #154287;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.circleBottom {
  position: fixed;
  top: 83vh;
  right: 2vw;
  z-index: 200;
  cursor: default;
}

.circleMid {
  position: fixed;
  top: 79vh;
  right: 0vw;
  z-index: 200;
  cursor: default;
}

.circleTop {
  position: fixed;
  top: 79vh;
  right: 0vw;
  z-index: 200;
  cursor: default;
}

.btn {
  position: fixed;
  top: 85vh;
  right: 3.5vw;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d3deee;
  cursor: pointer;
}

.btn.plus {
  z-index: 999;
}
.btn.lock,
.btn.total {
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.btn.lock-mode {
  background-color: #283c6e;
  box-shadow: 0px 0px 50px 0px #d6dfff80;
}
.btn.lock#activeLock {
  transform: translateY(-120px);
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}

.btn.total#activeTotal {
  transform: translateY(-60px);
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}

.plus-icon {
  width: 50%;
  height: 50%;
  transition: transform 0.4s ease;
}

.plus-icon#active {
  transform: rotate(45deg);
  transition: transform 0.4s ease;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  border-radius: 0;
}

.X {
  position: fixed;
  top: 90.5vh;
  right: 6vw;
  z-index: 300;
  /* 수민이 화면에서 top이랑 right 적절히 조절필요*/
  /* x이미지로 바꿔야함*/
}

.Lock {
  position: fixed;
  top: 74vh;
  right: 5.8vw;
  z-index: 300;
  /* 수민이 화면에서 top이랑 right 적절히 조절필요*/
}

.side-buttons {
  position: fixed;
  top: 79vh;
  right: 0vw;
}

.side-buttons.invisible {
  transform: translateX(200%);
}

.add-file-window {
  box-shadow: 0px 4px 40px 0px #00063c4d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 280px;
  height: 370px;
  border-radius: 23px;
  background-color: #fff;
  z-index: 2000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.add-file-window#open {
  opacity: 1;
  position: fixed;
  pointer-events: all;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  transition: opacity 1s ease-in-out;
}

.drag-and-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #8c9dd599;
  border-radius: 3px;
  font-size: 15px;
  color: #6f7fb580;
  width: 207px;
  height: 115px;
  margin: 20px auto;
}

.load-title {
  margin: 10px 40px;
  color: #6f7fb5;
  font-size: 15px;
}

.custom-file-input {
  color: #6f7fb5;
  box-shadow: 0px 0px 4px 0px #8c9dd599;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 40px;
}

.complete-file {
  font-size: 20px;
  color: #b7c0da;
  position: fixed;
  bottom: 35px;
  left: 165px;
  font-weight: 600;
}

.complete-file#complete {
  cursor: pointer;
  color: #6f7fb5;
}

.file-name {
  font-size: 12px;
  margin-left: 40px;
  margin-top: 15px;
}
