.book-page {
    position: fixed;
    top:10%;
    right:10%;
    width: 84%; /* 16:9비율임 */
    height: 84.5%;
    background: #D3DEEE;
    border-radius: 22px;
    box-shadow: 0px 0px 50px rgba(0, 16, 73, 0.5);
    transform: translateX(200%); /* 초기에는 보이지 않음 */
  }
  
  .book-page.visible {
    transform: translateX(0); /* 화면에 나타남 */
  }

  .book-name-box {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom:10px;
  }

  .icon-box {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
  }

  .icons {
   width:27x;
  }

  .icon-box > * {
    margin-right: 15px;
   }

  .icon-box > *:list-child {
    margin-right: 0px;
  }

  .gray-colline {
    padding: 5px;
    border-right: 2px solid #ccc;
  }

  .book-name {
    cursor: 'text';
    background-color: #D3DEEE;
    }

  .gray-rowline {
    border-bottom: 2px solid #ccc; /* 회색 구분선 */
    margin-bottom: 15px;
    margin-left:20px;
    width:97%;
    display:flex;
    justify-content: center;
    
  }

  .book-content {
    width:97%;
    height:88%;
    background: #FFFFFF;
    border-radius: 20px;
    margin : 0 auto;
  }

  .book-text {
    width:100%;
    height:100%;
    resize:'none'; 
  }

  .book-button {
    width :40px;
    height: 40px;
    margin-right: 100px;
  }

  .plus-icon {
    position: fixed;
    top:83%;
    right:2%;
    cursor: pointer;
    transform: translateX(500%); /* 초기에는 보이지 않음 */
  }

  .plus-icon.visible {
    transform: translateX(0);
  }

  .side-buttons {
    position: fixed;
    top: 83%;
    right:3.25%;
    cursor: pointer;
  }
  /* .side-button1 {
    position: fixed;
    top: 13%;
    right: 4%;
    cursor: pointer;
  }

  .side-Vector {
    position: fixed;
    top: 80%;
    right: 4%;
    cursor: pointer;
  } */