.segment {
  position: absolute;
  transition: background-color 0.3s ease;
}

.digit {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 45px;
  margin-right: 10px;
}

.on {
  width: 8px;
  height: 20px;
  filter: brightness(2);
}
.off {
  width: 3px;
  height: 14px;
  margin-left: 3px;
  margin-top: 2.5px;
  margin-bottom: 3px;
  filter: brightness(0.8);
}
/* 세그먼트의 위치 조정을 위한 CSS */
.top {
  top: 0;
  left: 8px;
  transform: rotate(90deg);
}
.top-left {
  top: 8px;
  left: 0;
}
.top-right {
  top: 8px;
  left: 15px;
}
.middle {
  top: 16px;
  left: 7px;
  transform: rotate(90deg);
}
.bottom-left {
  bottom: 1px;
  left: 0;
}
.bottom-right {
  bottom: 1px;
  left: 15px;
}
.bottom {
  bottom: -7px;
  left: 7px;
  transform: rotate(90deg);
}

/* 클릭 효과와 텍스트 선택 방지 */
.clock-container {
  user-select: none;
  cursor: pointer;
}

@keyframes twinkle {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.clock-span {
  width: 10px;
  height: 20px;
  padding-top: 10px;
}

.clock-span#on {
  animation: twinkle 1s ease infinite;
  transition: opacity 1s ease;
  width: 10px;
  height: 20px;
  padding-top: 10px;
}

.toggle-timer {
  position: fixed;
  right: 450px;
  bottom: 20.8%;
  cursor: pointer;
  font-family: Digital;
  text-align: center;
  user-select: none;
}
