html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  font-weight: 800;
  font-style: Bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  font-weight: 400;
  font-style: normal;
}

.login-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
} 

.login-button-guest {
  width: 655px;
  height: 70px;
  background-color: #ffffff;
  border: none;
  border-radius: 58px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom:50px;
  position: relative;
} 

.login-button:hover {
  background-color: #f0f0f0;
}

.login-button:active {
  background-color: #e0e0e0;
}

.guest-icon {
  color: #3f51b5; 
  font-size: 24px; 
  margin-right: 15.32px; 
  
}

.text-Guest {
  margin-right: 10px; 
  font-size: 20px;
  color: #000;
}

.login-divider {
  margin: 0 10px;
}

.text-Login {
  margin-left: 10px; 
  font-size: 20px;
  color: #000;
}

.list-icon {
  font-size: 24px;
  color: #000;
  position: absolute;
  right: 40px;
  }

/* 위에는 guest 모드의 css */
.login-button-user {
  width: 655px;
  height: 70px;
  background-color: #ffffff;
  border: none;
  border-radius: 58px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom:50px;
  position: relative;
} 

.popup_t1 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12.08px;
  margin-top: 17.62px;
}

.popup_t2 {
  margin-top: 12.08px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
}

.popup_t3 {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 18px;
  font-weight: 400;
}

.search-img {
  width:23px;
  height: 23px;
  position: absolute;
  left: 40px;
}

.user-icon1 {
  width: 27px;
  height: 27px;
  background-color: #ddd;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
}


.user-icon2 {
  width: 52px;
  height: 53px;
  background-color: gray;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
  display: flex;
  font-size: 14px;
  margin-bottom: 16.65px;
}

.user-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.user-time {
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  display: inline-block; /* 블록 요소로 설정하여 변형이 가능하게 함 */
  transition: transform 0.3s ease-in-out; /* 변형에 대한 부드러운 전환 설정 */
}

.dropdown-button.active {
  transform: rotate(180deg); /* 180도 회전 */
}

.dropdown-content {
  padding : 7px 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width : 130.16px;
  height: 178.18px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 10px rgba(0, 6, 60, 0.25);
  backdrop-filter: blur(2px);
  z-index: 1;  /* 드롭다운 메뉴가 다른 요소 위에 표시되도록 함 */
  border-radius: 23px;
  margin-bottom : 270px;
  margin-left : 120px;
  text-align : center;
}

.dropdown-content button {
  width: 80%; /* 전체 너비 사용 */
  padding: 0; /* 상하 패딩 설정 */
  margin: auto; /* 마진 제거 */
  border: none; /* 버튼 간 경계선 제거 */
  background: none; /* 기본 배경 제거 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: block; /* 블록 레벨 요소로 표시 */
  height: 20%; /* 컨테이너 높이의 25% 차지 */
  font-size : 16px;
}
.dropdown-content button:hover {
  background-color: #f1f1f1;
  background: #FFFFFF;
  text-align : center;
  border-radius: 50px;
  font-size:16px;
  font-weight: bold;
} 

/* 위에는 user mode css임 */

.popup {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(
    -50%,
    -50%
  ); 
  background-color: white;
  width: 341px;
  height: 395px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.send-img {
  margin-top: 37.37px;
  width: 52.47px;
  height: 52.08px;
}

.popup-content {
  text-align: center;
}

.user-info {
  margin-top: 10px;
  align-items: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 341px; 
  height: 395px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.TotalText {
  width: 194px;
  height: 146px;
  margin: 56.65px 108.01px 42.35px 38.99px;
}

.you {
  font-weight: 1000; 
  font-size: 25px;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 5px;
}

.work {
  font-weight: 1000; 
  font-size: 25px;
  margin: 0;
  line-height: 1.2; 
  margin-bottom: 25px; 
}

.login-text1 {
  text-align: left;
}

.login-text2 {
  text-align: left;
}

.workspace {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
  font-weight: 500;
}

.invite {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 500;
}

.kakao-login-button {
  width: 275.73px; 
  height: 50px;
  margin: 0 32.63px 13px 32.63px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.google-login-button {
  width: 275.73px; 
  height: 50px;
  margin: 0 32.63px 37px 32.63px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: gray;
}

.kakao-login-button {
  background-color: #fee500;
  color: #3c1e1e;
}

.google-login-button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #3c1e1e;
}

.login-kakao-img {
  width: 16.68px;
  height: 15.1px;
  margin-right: 10px;
}

.login-google-img {
  width: 15.54px;
  height: 15.54px;
  margin-right: 10px;
}

.field,
.login-container {
  transition: filter 0.3s ease; 
}

.field.blurred,
.login-container.blurred {
  filter: blur(5px); 
}




