.settings-popup {
width: 32%;
height: 55%;
position: fixed;
top: 47%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
box-shadow: 0px 4px 40px rgba(0, 6, 60, 0.3);
backdrop-filter: blur(2px);
border-radius: 23px;
margin-bottom : 50px;
padding : 30px;
}

.settings-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


.settings-header h3 {
  margin-bottom: 15px; 
}

.settings-header p {
  margin-bottom: 15px; 
  color: #6F7FB5;
  cursor: pointer;
}

.settings-menu.active {
  font-weight : bold;
}

.settings-rowline {
  border-bottom: 2px solid #ccc; /* 회색 구분선 */
  margin-bottom: 15px;
  width:45px;
  display:flex;
}

.setting-profile {
  display:flex;
  flex-direction: row;
}

.settings-profile {
  margin-top:50px;
  margin-left:50px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-profile p {
  margin-bottom: 15px;
  color: #6F7FB5;
  font-weight: bold;
}

.ready-text {
  text-align: center;
  margin-top: 160px;
  margin-left: 120px;
}

.apply-button {
  position: absolute;
  bottom : 30px;
  right: 45px;
  color: #D9DDEC;
}

.apply-button.active {
  text-align : right;
  color: #6F7FB5;
  font-weight : bold;
  cursor: pointer;
}