.settings {
  position: absolute; /* 절대 위치 지정 */
  bottom: 5%; /* 하단에서 20px 위쪽 */
  left: 6%; /* 왼쪽에서 20px 오른쪽 */
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}

.settings.hidden {
  display: none;
}

.control-button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.control-button .icon {
  display: block;
  text-align: center;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
}

.control-button.disabled {
  color: #ccc; /* 회색으로 표시 */
  cursor: not-allowed; /* 커서를 not-allowed로 변경 */
  background: #eee; /* 배경색 변경 */
}

.list-panel {
  position: fixed;
  left: 1%;
  top: 2%;
  width: 16.7%; /* 전체 화면의 1/5 크기 */
  height: 91%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(15px);
  padding:20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* 초기에는 보이지 않음 */
}

.list-panel.visible {
  transform: translateX(0); /* 화면에 나타남 */
}
.panel-topdiv {
  display: flex;
  flex-direction: row;
}
.panel-topdiv p {
  margin-right: 5px;
}

.deskDesign {
  color: #6F7FB5;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
}

#Group43 {
  height: 17px;
  margin-top: 7px;
}

.rowline1 {
  border-bottom: 2px solid #ccc; /* 회색 구분선 */
  margin-top: 10px;
  width:100%;
  display:flex;
  justify-content: center;
}

.all-tag {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.design-tag {
  padding: 7px 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.design-tag p{
  color: #6F7FB5;
  font-weight: 500;
}

.all-items {
  margin-top: 10px;
  color: #6F7FB5;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* body code css */
.background {
  height: 100vh;
  background: linear-gradient(to right, #dbe1f8 0%, #9aaddc 80%) left / 15% 100%
      no-repeat,
    /* 왼쪽: 좌우 그라데이션 */
      linear-gradient(to bottom, #d8dff7 0%, #9eafde 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#stand {
  height: 92%;
  position: fixed;
  bottom: 0;
  left: 6%;
}

.player {
  position: fixed;
  left: 36.5%;
  bottom: 31.5%;
  border-radius: 8px;
}
.add-color {
  position: fixed;
  border-radius: px;
  width: 25%;
  height: 24.9%;
  left: 36.5%;
  bottom: 31.5%;
  pointer-events: none;
  background: linear-gradient(
    109.77deg,
    rgba(255, 255, 255, 0.215) 13.1%,
    rgba(0, 27, 109, 0.43) 86.05%
  );
  z-index: 10;
}

.player-box {
  position: fixed;
  width: fit-content;
  padding-bottom: 200px; /* 4:3 비율을 유지하기 위한 패딩 (3 / 4 = 75%) */
  height: 0; /* 높이는 padding-bottom으로 결정됨 */
}

#desktop-bottom {
  z-index: 1000;
}

#desktop-bottom {
  z-index: 1000;
}

@keyframes sunSet {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(20deg) translateY(-400px);
  }
}

@keyframes moonRise {
  0% {
    transform-box: fill-box;
    transform: rotate(-40deg) translateY(-200px);
  }
  100% {
    transform-box: fill-box;
    transform: rotate(0deg) translateY(0px);
  }
}

#sun {
  position: relative;
  top: -100px;
  z-index: -2;
  animation: sunSet 6s infinite;
  transform-box: fill-box;
  animation-delay: 1s;
}

#moon {
  position: relative;
  top: -70px;
  left: 100px;
  z-index: -2;
  animation: moonRise 4s infinite;
  animation-delay: 6s;
}

.image-container {
  position: fixed;
  overflow: hidden;
  width: 500px;
  height: 490px;
  top: 72px;
  right: 62px;
  z-index: 0;
  overflow: hidden;
}
